body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
}

li{
    list-style: none;
    text-decoration: none;
    
}

ul{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a{
    text-decoration: none;
    
}

p{
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 15px 150px 15px 150px;

}   

.rightLinks{
    display: flex;
    gap: 16px;
    color: red;
    align-items: center;
}

.rightLinks a{
    color: #e5e7eb;
    font-size: 18px;
}

.leftLinks a{
    color: #f9faf8;
    font-size: 24px;
}

.hero{
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
    padding: 150px 150px 150px 150px;
    
}

.heroSecondaryText,
.heroButton{
    margin-top: 10px;
}

.content{
    justify-content: center;
    align-items: center;
    width: 480px;
    
}

.mainPic{
    width: 700px;
}
.heroMainText{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.heroSecondaryText{
    color: #e5e7eb;
    font-size: 18px;
}

.heroButton{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 4px;
    border-width: 0px;
    width: 83px;
    padding: 7px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: 50px;
}

.pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.pokemon img{
    width: 300px;
    border: 5px solid #3f3f3f;
    border-radius: 25px;
    margin-bottom: 25px;
}

.mainPic{
    border-radius: 25px;
}

.quoteContainer{
    background-color: #e5e7eb;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quoteContainer .quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 0;
    text-align: center;
    font-weight: 1;
}

.quoteContainer .author{
    text-align: end;
    padding-right: 200px;
    font-weight: bolder;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContent{
    width: 1000px;
    height: 200px;
    justify-content: space-between;
    display: flex;
    background-color: #3882f6;
    border-radius: 7px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-right: 45px;
    padding-left: 45px;
    flex-direction: row;
    align-items: center;
}

.footerWriting {
    display: flex;
    color: #e5e7eb;
    flex-direction: column;
    gap: 10px;
}

.actionMain{
    margin-bottom: 25p;
    font-weight: bolder;
    font-size: 18px;
}

.actionButton{
    width: 83px;
    border-radius: 4px;
    border-width: 0px;
    height: 28px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-width: 2px;
    border-color: #e5e7eb;
    border-style: solid;
}

.button{
    display: flex;
    flex-direction: column-reverse;
}
