body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
}

li{
    list-style: none;
    text-decoration: none;
    
}

ul{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a{
    text-decoration: none;
    
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 15px 150px 15px 150px;

}   

.rightLinks{
    display: flex;
    gap: 16px;
    color: red;
    align-items: center;
}

.rightLinks a{
    color: #e5e7eb;
    font-size: 18px;
}

.leftLinks a{
    color: #f9faf8;
    font-size: 24px;
}

.hero{
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
    padding: 150px 150px 150px 150px;
}

.content{
    justify-content: center;
    align-items: center;
    width: 480px;
}
.mainPic{
    width: 700px;
}
.heroMainText{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.heroSecondaryText{
    color: #e5e7eb;
    font-size: 18px;
}

.heroButton{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 4px;
    border-width: 0px;
    width: 83px;
    padding: 7px;
}

.info{
    background-color: #e5e7eb;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: 50px;
}

.pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pokemon img{
    width: 300px;
}